<tr>
  <td data-hook='admin_order_tab_included_installments'>
    <strong><%= Spree.t(:installments) %>:</strong>
  </td>
  <td id='installments'>
    <%= @order.payment.installments unless @order.payment.nil? %>
  </td>
</tr>

<tr>
  <td data-hook='admin_order_tab_included_installments'>
    <strong><%= Spree.t(:interest_amount) %>:</strong>
  </td>
  <td id='interest_amount'>
    <%= "#{(@order.payment.interest * 100).round(4)}% a.m" unless @order.payment.nil? %>
  </td>
</tr>

<tr>
  <td data-hook='admin_order_tab_included_installments'>
    <strong><%= Spree.t(:total_per_installment) %>:</strong>
  </td>
  <td id='total_per_installment'>
    <%= @order.display_total_per_installment unless @order.payment.nil? %>
  </td>
</tr>

<tr>
  <td data-hook='admin_order_tab_included_installments'>
    <strong><%= Spree.t(:charge_interest) %>:</strong>
  </td>
  <td>
    <span class="state label label-<%= !@order.payment.nil? && @order.payment.charge_interest ? "complete" : "error" %>">
      <%= Spree.t(@order.payment.charge_interest.to_s) unless @order.payment.nil? %>
    </span>
  </td>
</tr>
