<tr>
  <td data-hook='admin_order_tab_included_installments'>
    <strong><%= Spree.t(:installments) %>:</strong>
  </td>
  <td id='installments'>
    <%= @order.payment.installments %>
  </td>
</tr>

<tr>
  <td data-hook='admin_order_tab_included_installments'>
    <strong><%= Spree.t(:interest_amount) %>:</strong>
  </td>
  <td id='interest_amount'>
    <%= Money.new(@order.payment.interest_amount, @order.currency.to_s).format %>
  </td>
</tr>

<tr>
  <td data-hook='admin_order_tab_included_installments'>
    <strong><%= Spree.t(:total_per_installment) %>:</strong>
  </td>
  <td id='total_per_installment'>
    <%= Money.new(@order.display_total_per_installment, @order.currency.to_s).format %>
  </td>
</tr>

<tr>
  <td data-hook='admin_order_tab_included_installments'>
    <strong><%= Spree.t(:total_with_interest) %>:</strong>
  </td>
  <td id='total_with_interest'>
    <%= Money.new(@order.display_total_with_interest, @order.currency.to_s).format %>
  </td>
</tr>

<tr>
  <td data-hook='admin_order_tab_included_installments'>
    <strong><%= Spree.t(:charge_interest) %>:</strong>
  </td>
  <td>
    <span class="state label label-<%= @order.payment.charge_interest ? "complete" : "error" %>">
      <%= Spree.t(@order.payment.charge_interest.to_s) %>
    </span>
  </td>
</tr>
